{{#if loggedIn}}
<div class='ml-4'>welcome back, {{userIn}}!</div>
<div class="ml-4 mb-2">your user id is: {{user_id}}</div>
{{else}}
<div>{{userIn}} is not currently logged in</div>
{{/if}}

{{!-- home menu for historiography --}}
<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="/home">home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="">my fields</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/trash">trash</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-secondary nav-link active" id="add-new">add new</button>
      </li>
    </ul>
  </div>
</div>


<div class="row">
    {{!-- below is the column for the note stack --}}
    <div class="flex-column note-box-container">
        {{#each books as |book|}}
        <div class="card select-book btn" style="width: 273px" id={{book.id}}>
        {{!-- {{#each bookNotes as |book|}} --}}
            <div class="card-body">
                <h5 class="card-title">{{book.title}}</h5>
                <h6 class="card-text">by {{book.author}}</h6>
                <p>{{book.id}}</p>
            </div>
         </div>
         {{/each}}
    </div>


<div class="col flex-grow-1 mr-3 mt-4">
    {{!-- add a new note div --}}
    <form id={{user_id}} class="getId">
        <div class="form-group">
            <label for="noteTitle">title</label>
            <input type="title" class="form-control" id="note-title" placeholder="enter your book title">
        </div>
        <div class="form-group">
            <label for="noteAuthor">author</label>
            <input type="author" class="form-control" id="note-author" placeholder="enter the author's first and last name">
        </div>
        <div class="form-group">
            <label for="noteTitle">field</label>
            <input type="field" class="form-control" id="note-field" placeholder="field or sub-discipline">
        </div>
        <div class="form-group">
            <label for="textarea">argument</label>
            <textarea class="form-control" id="note-argument" rows="5" placeholder="what is the main argument?"></textarea>
        </div>
         <div class="form-group">
            <label for="textarea">examples</label>
            <textarea class="form-control" id="note-examples" rows="5" placeholder="identify and explain key examples from the text that reinforce the author's main argument"></textarea>
        </div>
        <div class="form-group">
            <label for="textarea">methodology</label>
            <textarea class="form-control" id="note-methods" rows="5" placeholder="describe the author's methods and sources. what are their theories and frameworks? how is evidence used and sources read?"></textarea>
        </div>
        <div class="form-group">
            <label for="noteKeywords">keywords</label>
            <input type="title" class="form-control" id="note-keywords" placeholder="list out the main keywords and concepts">
        </div>
            <div class="form-group">
            <label for="textarea">significance</label>
            <textarea class="form-control" id="note-significance" rows="5" placeholder="what interventions does this book make and in which fields? what is unique about the argument, evidence, methods, or sources? why is this book significant, or why not?"></textarea>
        </div>
        <div class="text-center">
             <button class="btn btn-outline-primary" id="save-note" type="submit">save note</button>
        </div>
    </form>

    {{!-- nav bar for displayed note --}}
    <nav id="navbar-example2" class="navbar navbar-light bg-light mt-3">
    <a class="navbar-brand" href="#">
      <h2 id="bookTitle">book title</h2>
      <h3 id="authorName">author name</h3>
    </a>
    {{!-- dropdown menu for full note view --}}
        <ul class="nav nav-pills">    
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">note menu</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#one">keywords</a>
                <a class="dropdown-item" href="#two">methods and sources</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#three">significance and critique</a>
            </div>
            </li>
        </ul>
    </nav>

{{!-- displayed book note --}}
    <div style="overflow-y:scroll;" class="col">
        <h4>argument</h4>
        <p id="argument-text"></p>
        <h4>examples</h4>
        <p id="example-text"></p>
        <h4>methods and sources</h4>
        <p id="methods-text"></p>
        <h4>keywords</h4>
        <p id="keyword-text"></p>
        <h4>significance</h4>
        <p id="significance-text"></p>
    </div>
</div>
</div>


<script src="js/bookNote.js"></script>