{{#if loggedIn}}
  <div class="ml-3">welcome back, {{userIn}}!</div>
  <div class="ml-3 mb-2">your user id is: {{user_id}}</div>
{{else}}
  <div>{{userIn}} is not currently logged in</div>
{{/if}}

{{! home menu for historiography }}
<div class="card text-center">
  <div class="card-header pl-3">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="btn nav-link active" id="add-new">add
          new</a>
      </li>
      <li class="nav-item">
        <a class="btn nav-link active" href="/home">all notes</a>
      </li>
      <li class="nav-item">
        <a class="btn nav-link active" href="#" id="important-note">highlight</a>
      </li>
      <ul class="nav-item pl-0">
        <a class="btn nav-link active dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">my fields</a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
         {{#each books as |book|}}
        <li class="dropdown-item"><a>{{book.field}}</a></li>
    
         {{/each}}
      </ul>

        <li class="nav-item">
            <a class="btn nav-link active dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">delete note
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" id="delete-note">yes, delete</a></li>
              <li><a class="dropdown-item" href="#">cancel</a></li>
            </ul>
        </li>

      </div>
    </div>

{{!-- 
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        my fields
        </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
           
          <a class="dropdown-item" href="#"></a>
       

         <a class="nav-link active" href=""></a> --}}
      
   

      {{! <li class="nav-item">
        <a class="nav-link active" id="delete-note" href="">delete note</a>
      </li> }}

    </ul>
  </div>
</div>

<div class="row">
  {{! below is the column for the note stack }}
  <div class="flex-column note-box-container">
    {{#each books as |book|}}
      <div class="card select-book btn" style="width: 273px" id={{book.id}}>
        {{!-- {{#each bookNotes as |book|}} --}}
        <div class="card-body">
          <h5 class="card-title">{{book.title}}</h5>
          <h6 class="card-text">by {{book.author}}</h6>
        </div>
      </div>
    {{/each}}
  </div>

  <div class="col flex-grow-1 pl-0 mb-4">
    {{! add a new note div }}
    <form value={{user_id}} class="getId pl-4 mt-4 mr-4">
      <div class="form-group">
        <label for="noteTitle">title</label>
        <textarea
          type="title"
          class="form-control"
          id="note-title"
          rows="1"
          placeholder="enter your book title"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="noteAuthor">author</label>
        <textarea
          type="author"
          class="form-control"
          id="note-author"
          rows="1"
          placeholder="enter the author's first and last name"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="noteTitle">field</label>
        <textarea
          type="field"
          class="form-control"
          id="note-field"
          rows="1"
          placeholder="field or sub-discipline"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="textarea">argument</label>
        <textarea
          class="form-control"
          id="note-argument"
          rows="5"
          placeholder="what is the main argument?"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="textarea">examples</label>
        <textarea
          class="form-control"
          id="note-examples"
          rows="5"
          placeholder="identify and explain key examples from the text that reinforce the author's main argument"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="textarea">methodology</label>
        <textarea
          class="form-control"
          id="note-methods"
          rows="5"
          placeholder="describe the author's methods and sources. what are their theories and frameworks? how is evidence used and sources read?"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="noteKeywords">keywords</label>
        <textarea
          type="title"
          class="form-control"
          id="note-keywords"
          rows="1"
          placeholder="list out the main keywords and concepts"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="textarea">significance</label>
        <textarea
          class="form-control"
          id="note-significance"
          rows="5"
          placeholder="what interventions does this book make and in which fields? what is unique about the argument, evidence, methods, or sources? why is this book significant, or why not?"
        ></textarea>
      </div>
      <div class="text-center">
        <button class="btn btn-outline-primary" id="save-note" type="submit">save note</button>
      </div>
    </form>

    {{! displayed note }}
    <div class="display-note-container">
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand ml-4">
          <h2 id="bookTitle" class="text-wrap mb-3">{{firstBook.title}}</h2>
          <h3 id="authorName">by {{firstBook.author}}</h3>
        </a>

        {{! dropdown for full note view }}
        <ul class="navbar-nav">
          

        </ul>
      </nav>

 {{! <li><a class="dropdown-item" href="#" id="edit-note">edit note</a></li> }}
      {{! displayed book note }}
      <div class="col ml-4 mt-4">
        <h4>argument</h4>
        <p id="argument-text">{{firstBook.argument}}</p>
        <h4>examples</h4>
        <p id="example-text">{{firstBook.examples}}</p>
        <h4>methods and sources</h4>
        <p id="methods-text">{{firstBook.methods}}</p>
        <h4>keywords</h4>
        <p id="keyword-text">{{firstBook.keywords}}</p>
        <h4>significance</h4>
        <p id="significance-text">{{firstBook.significance}}</p>
      </div>
    </div>

    {{! EDITING A NOTE }}

    {{! edit note box }}
    {{!-- <div class="edit-note-box" style="overflow-y:scroll;">
    <nav id="navbar-example2" class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <p class="edit-text">Edit Title</p>
      <h2 id="bookTitle2" class="text-wrap mb-3"><textarea class="" rows="5"> {{firstBook.title}}</textarea></h2>
      <h3 id="authorName">by {{firstBook.author}}</h3>
    </a> --}}

    {{! dropdown for editing note view }}

    {{! <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Menu
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="#" id="edit-note">edit note</a></li>
            <li><a class="dropdown-item" href="#" id="delete-note">delete note</a></li>
            <li><a class="dropdown-item" href="#" id="important-note">mark *important*</a></li>
          </ul>
        </li>
    </ul>

    </nav> }}

    {{! displayed book note }}
    {{!-- <div class="col">
        <h4>argument</h4>
        <p id="argument-text">{{firstBook.argument}}</p>
        <h4>examples</h4>
        <p id="example-text">{{firstBook.examples}}</p>
        <h4>methods and sources</h4>
        <p id="methods-text">{{firstBook.methods}}</p>
        <h4>keywords</h4>
        <p id="keyword-text">{{firstBook.keywords}}</p>
        <h4>significance</h4>
        <p id="significance-text">{{firstBook.significance}}</p>
    </div>
</div> --}}

  </div>
</div>

<script src="js/bookNote.js"></script>

<!-- JavaScript Bundle with Popper -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
  crossorigin="anonymous"
></script>